@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Montserrat:wght@500&family=Open+Sans+Condensed:wght@300&display=swap');

body, html {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    vertical-align: baseline;
    background-color: deepskyblue;
}

/*---Home Section---*/
#navBar {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f2f2f2;
    padding: 2px 2px;
    margin-left: 5vw;
    align-self: center;
    height: fit-content;
    width: 90vw;
    border: none;
    border-radius: 70px;
}
@media (max-width: 700px) {
    #navBar {
        display: none;
        position: fixed;
        justify-content: space-evenly;
        align-items: center;
        background-color: #f2f2f2;
        padding: 2px 2px;
        margin-top: 10px;
        margin-left: 5vw;
        align-self: center;
        height: fit-content;
        width: 90vw;
        border: none;
        border-radius: 70px;
    }
}
.logo {
    margin-right: auto;
    padding-left: 20px;
}
#navBar button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 0px 20px;
    margin-left: auto;
    margin-right: 20px;
    border: rgba(6, 247, 227, 1);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s; 
}
#navBar button:hover {
    background-color: rgba(6, 118, 247, 0.904);
}
#lastButton {
    margin-right: 3px;
}

#profile {
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    border: 10px;
    border-color: black;
    margin: 10px;
}
.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}
.intro h1 {
    color: white;
}
.intro h2 {
    color: white;
}
.intro p{
    color: white;
    text-align: left;
}
#intro_text {
    height: fit-content;
    width: 70vw;
    padding: 20px;
    margin: 10px;
}

@media (min-width: 1090px) {
    .intro {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-image: url(assets/header_bg.jpeg);
        background-size: 100% 100%;
        height: 100vh;
        padding: 20px;
        text-align: left;
    }
    #intro_text {
        height: fit-content;
        width: 60vw;
    }
    
}

header {
    display: flexbox;
    margin: 0;
    padding-top: 10px;
    background-image: url(assets/header_bg.jpeg);
    background-size: 100% 100%;
    height: 100vh;
}

#info {
    margin: 20px;
    background-size: 100% 100%;
    margin: 0;
}

.hide {
    display: none;
}
.box a:hover + .hide{
    display:inline;
    cursor: pointer;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
  
.fa:hover {
    opacity: 0.7;
}

.fa-github {
      color: black;
}
.fa-instagram {
      color: #cc0066;
}
.education, .projectCard, .courses {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 50vw;
      background-color: floralwhite;
      margin: 20px;
      padding: 30px;
      border-radius: 50px;
  }
h2, h4, h5, h6, p, li {
    color: black;
}
.skills, .hobby, .contact {
    margin: 20px;
    padding: 30px;
    border-radius: 50px;
    width: 30vw;
    background: #231fd6;
}
.container {
    display: flex;
    justify-content: space-evenly;
}
.box {
    background: #31d7dd;
    margin: 10px;
    padding: 10px;
    border:black;
    border-radius: 30px;
    width: fit-content;
}